@model List<Order>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="d-flex justify-content-between">
    <h2 class="text-success">
        Orders
    </h2>
   <table>
        
        <tr><td><p style="font-size:15px">@Html.ActionLink("Log Out","Login")</p></td></tr>
      <tr><td><p style="font-size:15px">@Html.ActionLink("Add Food Item","AddFoodItem")</p></td></tr>
      
        
    </table>
</div> 
<br/>
@*@using(@Html.BeginForm("CompletedOrder","Restaurant",FormMethod.Post))
{*@
 <table  class="table table-striped">
        <tr>
                <th>Order Id</th>
                <th>InVoiceNo</th>
                <th>UserName</th>
                <th>Food Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Order Time</th>
                <th>      </th>
        </tr>
    @{
        int i = 1;
    }
        @foreach(var obj in Model)
        {
        
            <tr>
                <td>@i</td>

                <td>@obj.InVoiceNo</td>
              
                <td>@obj.CustomerName</td>
              
                <td>@obj.FoodItem</td>
             
                <td>@obj.Quantity</td>
              
                <td>@obj.Price</td>
                
                <td>@obj.OrderTime</td>
                
                        
                <td><a asp-controller="Restaurant" asp-action="CompletedOrder" asp-route-id = "@obj.OrderNo" class="btn btn-primary">Deliver</a></td>
            </tr>
            i++;
        }   
 </table>
 


 